.post {
    width: 500px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

.postTitle {
    text-align: center;
}

.postContent {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.noPosts {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.noPostsContainer {
    min-height: 30px;
    max-height: 30px;
}

.error {
    text-align: center;
    color: rgb(184, 48, 48);
}

.deletePost {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    text-align: center;
    color: red;
    padding-bottom: 5px;
}

.deletePost:hover {
    text-decoration: underline;
    cursor: pointer;
}

